.container{
	margin-top: 10px;
}

.encabezado {
	background-color: #33BEBE;
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 30px;
	color:#FFFFFF;
}


.contenido{
	padding-top: 70px;
	margin:-30px;
}
.colimg{
	width:100%;
}